.hidden {
  display: none !important;
}

.navbar-container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-end {
  display: flex;
  justify-content: end;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.column-full,
.column-half {
  width: 100%;
}

.images {
  width: 100%;
  border-radius: 5px;
}

.margin-top {
  margin-top: 1rem;
}

input,
textarea {
  margin: 1rem 0;
}

#heart {
  width: 5%;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar-container,
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
