body {
  font-family: Righteous, Roboto, sans-serif;
  background-color: #f6f6f6;
}

.container {
  background-color: #f6f6f6;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.righteous {
  font-family: Righteous, sans-serif;
}

.font-weight-400 {
  font-weight: 400;
}

i {
  font-size: 1rem;
  cursor: pointer;
}

i:hover {
  color: #25eb78;
}

.color-green {
  color: #1bb55c;
}

.color-white {
  color: white;
}

.color-blue {
  color: #007bff;
}

.navbar-container {
  background-color: #202020;
}

.button {
  background-color: #202020;
  color: #1bb55c;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  border-style: none;
  font-size: 0.8rem;
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  border-color: rgb(175, 175, 175);
  font-size: 1rem;
  padding: 7px;
  resize: none;
  font-family: Roboto, sans-serif;
  margin-bottom: 1.5rem;
}

#date {
  width: 70%;
  cursor: pointer;
}

.slider {
  cursor: pointer;
  height: 30px;
  padding: 0;
}

.slider:hover {
  opacity: 1;
}

.white-background-color {
  background-color: white;
  border-radius: 5px;
}

label {
  font-weight: 500;
}

input:focus,
textarea:focus {
  outline: none;
  border: solid 2px #1bb55c;
}

.navbar-items {
  color: #1bb55c;
  text-decoration: none;
}

.button:hover {
  color: #25eb78;
}

.navbar-items:hover {
  color: #25eb78;
}

.empty-reviews {
  text-align: center;
}
